name: Standalone Dist

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install dependencies
        run: bun install
      - name: Build
        run: bun run build --base ./
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: standalone-webapp
          path: dist/
